<div class="nx-page-container">
  <div class="nx-success-card">
    <div class="nx-success-icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#d8b36a">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
      </svg>
    </div>
    <h2 class="nx-success-title">Success!</h2>
    <p class="nx-success-subtitle">Your quote request has been submitted successfully. We will get back to you shortly.</p>
    <button class="nx-btn" (click)="goHome()">Go to Home</button>
  </div>
</div>
